{% extends "layouts/main.njk" %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageContent %}
	<p class="govuk-body">
		Some examples of govuk-frontend components are included on this page.
		These wouldn't usually all be on one page.
	</p>
	<p class="govuk-body">See the <a href="https://design-system.service.gov.uk/get-started/">GOV.UK Design System documentation</a> for more information.</p>

	{% set banner %}
		<p class="govuk-notification-banner__heading">
			Important information can be added to a banner
			<a class="govuk-notification-banner__link" href="#">which can include links</a>.
		</p>
	{% endset %}
	{{ govukNotificationBanner({
		html: banner
	}) }}

	{{ govukPanel({
		titleText: "Success Panels",
		html: "Are useful for showing a user their action is complete"
	}) }}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{{ govukSummaryList({
				rows: [
					{
						key: { text: "Title" },
						value: { text: "Summary List" }
					},
					{
						key: { text: "Use Case" },
						value: { text: "Summarise information, such as answers from a form" }
					},
					{
						key: {text: "Tag Check"},
						value: { text: "Deployment Cd test" },
						actions: {
							items: [
								{
									href: "#",
									text: "Done",
									visuallyHiddenText: "try again"
								}
							]
						}
			
					},
					{
						key: { text: "Features" },
						value: { text: "Action links can allow users to change answers to revisit steps" },
						actions: {
							items: [
								{
									href: "#",
									text: "Change",
									visuallyHiddenText: "try again"
								}
							]
						}
					}
				]
			}) }}
		</div>
	</div>
{% endblock %}
